.titulo{
    background-color: black;
    color: white;
    border: 5px solid;
}


.nome{
    color: black;
    background-color: white;
    
}

.descricao{
    background-color: white;
}

.geral{
    width: 70%;
    margin: 0px auto 0px auto;
    height: 100%;
    padding-top: 10px;
    padding-left: 50px;
}

.font-xl{
    font-size: 72px;
}